:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  border: 1px solid var(--neutral-white);
  padding: 12px;
  border-radius: 8px;
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--neutral-gray-500) 0%,
    var(--neutral-gray-700) 75%,
    var(--neutral-dark-gray) 100%
  );
}
