:host {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 16px;
  border: 1px solid var(--white);
  padding: 12px;
  border-radius: 8px;
  color: var(--off-white);
  background: linear-gradient(90deg, var(--dark-blue) 0%, var(--blue) 75%, var(--light-blue) 100%);
}
