:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  background-color: #f2f2f2;
  padding: 60px;

  &--mobile {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: unset;
    align-items: unset;

    mat-card {
      max-width: none;
      border-radius: 0;
      padding-top: 100px;
    }
  }

  mat-card {
    width: 100%;
    max-width: 400px;
    background-color: var(--bg-gray);
    color: white;
    align-items: center;
    padding: 40px;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }
}
