<mat-card>
  <header class="coach">
    <h1>{{ coach()?.name }} - #{{ coach()?.employeeNumber }}</h1>
    <button matMiniFab matTooltip="Editar Treinador" (click)="onCoachEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </header>
</mat-card>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Informações</mat-panel-title>
    </mat-expansion-panel-header>
    <app-coach-info [coach]="coach()" />
  </mat-expansion-panel>
</mat-accordion>
