<mat-card>
  <header class="coach">
    <div class="title">
      <h1>{{ coachName() }}</h1>

      <mat-icon matTooltip="Treinador arquivado">warning</mat-icon>
      @if (coach()?.archived) {}
    </div>
    <div class="actions">
      <button matMiniFab matTooltip="Editar Treinador" (click)="onCoachEdit()">
        <mat-icon>edit</mat-icon>
      </button>

      @if (coach()?.archived) {
        <button matMiniFab matTooltip="Desarquivar" (click)="unarchiveCoach()">
          <mat-icon>visibility</mat-icon>
        </button>
      } @else {
        <button matMiniFab matTooltip="Arquivar" class="archive" (click)="archiveCoach()">
          <mat-icon>visibility_off</mat-icon>
        </button>
      }
    </div>
  </header>
</mat-card>

<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Informações</mat-panel-title>
    </mat-expansion-panel-header>
    <app-coach-info [coach]="coach()" />
  </mat-expansion-panel>
</mat-accordion>
