:host {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

app-card {
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  .coach,
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .coach__color {
      border-radius: 50%;
      height: 1vw;
      width: 1vw;
      border: 1px solid var(--light-blue);
    }

    @media (max-width: 1366px) {
      .coach__color {
        width: 3vw;
        height: 3vw;
      }
    }

    @media (max-width: 600px) {
      .coach__color {
        width: 12vw;
        height: 6vw;
      }
    }

    h1 {
      line-height: 32px;
      margin: 0;
    }
    .actions {
      display: flex;
      gap: 8px;
    }
  }
}
