@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;

  @include mat.card-overrides(
    (
      elevated-container-color: #f7f9fd
    )
  );
}

:host(.mobile) {
  flex-direction: column;
}

mat-card {
  padding: 16px;

  .coach {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;

      h1 {
        margin-bottom: 0;
      }

      mat-icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        color: #ebbe4d;
        transform: translateY(2px);
      }
    }

    .actions {
      display: flex;
      gap: 8px;

      & > button.archive {
        @include mat.fab-overrides(
          (
            small-container-color: #fff,
            small-foreground-color: #9c2007
          )
        );
      }
    }
  }
}

mat-accordion {
  width: 100%;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  align-items: start;

  > div {
    display: flex;
    justify-content: space-between;

    .label {
      display: flex;
      gap: 8px;
      align-items: center;
      @include mat.icon-overrides(
        (
          color: var(--dark-blue)
        )
      );
    }

    .value {
      font-weight: 700;
    }

    .coach__color {
      border-radius: 50%;
      height: 1vw;
      width: 1vw;
      border: 1px solid var(--light-blue);
    }

    @media (max-width: 1366px) {
      .coach__color {
        width: 3vw;
        height: 3vw;
      }
    }

    @media (max-width: 600px) {
      .coach__color {
        width: 6vw;
        height: 6vw;
      }
    }
  }

  // Mobile breakpoint
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 16px;

    > div {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
    }
  }
}
