:host {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

app-card {
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      line-height: 32px;
      margin: 0;
    }
    .actions {
      display: flex;
      gap: 8px;
    }
  }
}
