<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> {{ evaluation().date | date: 'dd/MM/yyyy' }} </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    @if (evaluation().professionalAndPhysicalData) {
      <span class="section-title">Dados profissionais e físicos</span>
      <app-professional-physical
        [professionalPhysical]="evaluation().professionalAndPhysicalData"
      />
    }

    @if (evaluation().clinicalHistory) {
      <span class="section-title">Histórico clínico</span>
      <app-clinical-history [clinicalHistory]="evaluation().clinicalHistory" />
    }

    @if (evaluation().mainComplaints) {
      <span class="section-title">Queixas principais</span>
      <app-main-complaints [mainComplaints]="evaluation().mainComplaints" />
    }

    @if (evaluation().routineAndWellBeing) {
      <span class="section-title">Rotina e bem estar</span>
      <app-well-being [wellBeing]="evaluation().routineAndWellBeing" />
    }

    @if (evaluation().clinicalEvaluation) {
      <span class="section-title">Avaliação clínica</span>
      <app-clinical-evaluation [clinicalEvaluation]="evaluation().clinicalEvaluation" />
    }

    @if (evaluation().physicalTests; as physicalTests) {
      <span class="section-title">Testes físicos</span>
      <app-physical-tests [physicalTests]="physicalTests" />
    }

    @if (evaluation().diagnosisAndTreatment) {
      <span class="section-title">Diagnóstico e tratamento</span>
      <app-diagnosis-treatment [diagnosisTreatment]="evaluation().diagnosisAndTreatment" />
    }

    <app-general-info [generalInfo]="generalInfo()" [coaches]="coaches()"></app-general-info>
    @if (canEdit()) {
      <button matMiniFab (click)="onEvaluationEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    }
  </ng-template>
</mat-expansion-panel>
