<app-auth-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />

      @if (form.controls.email.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }

      @if (form.controls.email.hasError('email')) {
        <mat-error>Email inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [type]="passwordInputType()" formControlName="password" />
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
        <mat-icon>{{ passwordInputIcon() }}</mat-icon>
      </button>

      @if (form.controls.email.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }
    </mat-form-field>

    <button matButton="filled" type="submit">Entrar</button>
  </form>

  <div>
    Esqueceu a senha?
    <a matButton="text" routerLink="/{{ routesPaths.recoverPassword }}">Recuperar</a>
  </div>
</app-auth-container>
