:host {
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  mat-form-field {
    width: 100%;
  }

  mat-label {
    &:first-of-type {
      font-size: 16px;
    }
  }

  .pain-level {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    mat-slider {
      width: 100%;
    }

    span {
      font-size: 24px;
    }
  }
}
