<app-auth-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Nova senha</mat-label>
      <input matInput [type]="passwordInputType()" formControlName="password" />
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
        <mat-icon>{{ passwordInputIcon() }}</mat-icon>
      </button>

      @if (form.controls.password.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmar senha</mat-label>
      <input matInput [type]="confirmPasswordInputType()" formControlName="confirmPassword" />
      <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()">
        <mat-icon>{{ confirmPasswordInputIcon() }}</mat-icon>
      </button>

      @if (form.controls.confirmPassword.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }

      @if (form.controls.confirmPassword.hasError('passwordsMismatch')) {
        <mat-error>Insira senhas iguais</mat-error>
      }
    </mat-form-field>

    <button matButton="filled" type="submit">Atualizar senha</button>
  </form>
</app-auth-container>
