<app-auth-container>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Nova senha</mat-label>

      <input matInput formControlName="password" [type]="passwordConfig.inputType()" />
      <button
        mat-icon-button
        matSuffix
        type="button"
        tabIndex="-1"
        (click)="passwordConfig.toggleVisibility()"
      >
        <mat-icon>{{ passwordConfig.inputIcon() }}</mat-icon>
      </button>

      @if (form.controls.password.hasError('required')) {
        <mat-error>Campo obrigatório</mat-error>
      }

      @if (form.controls.password.hasError('minlength')) {
        <mat-error>O número mínimo de caracteres é 6</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmar senha</mat-label>

      <input
        matInput
        formControlName="confirmPassword"
        [type]="confirmPasswordConfig.inputType()"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        tabIndex="-1"
        (click)="confirmPasswordConfig.toggleVisibility()"
      >
        <mat-icon>{{ confirmPasswordConfig.inputIcon() }}</mat-icon>
      </button>

      @if (form.controls.confirmPassword.hasError('passwordsMismatch')) {
        <mat-error>As senhas não coincidem</mat-error>
      }
    </mat-form-field>

    <button matButton="filled" type="submit" [disabled]="form.invalid">Atualizar senha</button>
  </form>
</app-auth-container>
