<app-search [class.search-mobile]="isMobile()" (searchTerm)="searchSubject$.next($event)" />
@if (isMobile()) {
  @for (client of dataSource.data$ | async; track client) {
    <app-card (click)="onClientClick(client.id)">
      <h1>{{ client.name }}</h1>
      <span><span>Email:</span> {{ client.email }}</span>
      <span><span>Nº de telemóvel:</span> {{ client.phoneNumber }}</span>
    </app-card>
  }
} @else {
  <app-table [dataSource]="dataSource" [columns]="columns" [rowActions]="actions" />
}
<button matFab class="float-button" (click)="addClient()">
  <mat-icon>add</mat-icon>
</button>
