.float-button {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}

app-card {
  margin: 12px;
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 8px;
  }
}
