<div class="filters">
  <app-search [class.search-mobile]="isMobile()" (searchTerm)="searchSubject$.next($event)" />

  @if (isAdmin()) {
    <mat-slide-toggle (change)="showArchivedSubject$.next($event.checked)">
      Mostrar clientes arquivados
    </mat-slide-toggle>
  }
</div>

@if (isMobile()) {
  @for (client of tableConfig.data$ | async; track client.id) {
    <app-card (click)="onClientClick(client.id)">
      <h1>{{ client.name }}</h1>
      <span><span>Email:</span> {{ client.email }}</span>
      <span><span>Nº de telemóvel:</span> {{ client.phoneNumber }}</span>
    </app-card>
  }
} @else {
  <app-table [config]="tableConfig" />
}

@if (isAdmin()) {
  <button matFab class="float-button" (click)="addClient()">
    <mat-icon>add</mat-icon>
  </button>
}
