@if (isLoading()) {
  <mat-spinner diameter="40" />
}

<table mat-table [dataSource]="data()">
  @for (col of config().columns; track $index) {
    <ng-container [matColumnDef]="col.key">
      <!-- header -->
      <th mat-header-cell *matHeaderCellDef [style.width.px]="col.width">{{ col.header }}</th>

      <!-- cell -->
      <td mat-cell *matCellDef="let row">
        <!-- custom template -->
        @if (col.template) {
          <ng-container
            [ngTemplateOutlet]="col.template"
            [ngTemplateOutletContext]="{ $implicit: row }"
          />
        } @else {
          <!-- actions column -->
          @if (col.actions?.length) {
            <div class="actions-column">
              @for (action of col.actions; track $index) {
                @if (!action.isHidden || !action.isHidden(row)) {
                  @if (action.callback) {
                    <button
                      mat-icon-button
                      (click)="action.callback(row)"
                      [disabled]="action.isDisabled ? action.isDisabled(row) : false"
                      [matTooltip]="action.tooltip ? action.tooltip(row) : null"
                    >
                      <mat-icon>{{ action.icon }}</mat-icon>
                    </button>
                  } @else {
                    <mat-icon
                      [style.color]="action.color"
                      [matTooltip]="action.tooltip ? action.tooltip(row) : null"
                    >
                      {{ action.icon }}
                    </mat-icon>
                  }
                }
              }
            </div>
          } @else {
            <!-- normal text cell -->
            {{ col.cellFn ? col.cellFn(row) : row[col.key] }}
          }
        }
      </td>
    </ng-container>
  }

  <!-- header rows -->
  <tr mat-header-row *matHeaderRowDef="columns()"></tr>

  <!-- data rows -->
  <tr mat-row *matRowDef="let row; columns: columns()"></tr>

  <tr *matNoDataRow>
    <td class="no-data-row" [attr.colspan]="config().columns.length">Sem resultados</td>
  </tr>
</table>
