:host {
  position: relative;
  display: block;
  border: 1px solid var(--black);
}

mat-spinner {
  position: absolute;
  top: 100px;
  right: 50%;
}

.actions-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
