<app-search [class.search-mobile]="isMobile()" (searchTerm)="searchSubject$.next($event)" />
@if (isMobile()) {
  @for (coach of tableConfig.data$ | async; track coach.id) {
    <app-card (click)="onCoachClick(coach.id)">
      <h1>{{ coach.name }}</h1>
      <span><span>Email:</span> {{ coach.email }}</span>
      <span><span>Nº de telemóvel:</span> {{ coach.phoneNumber }}</span>
    </app-card>
  }
} @else {
  <section>
    <app-table [config]="tableConfig" />
  </section>
}
<button matFab class="float-button" (click)="createCoach()">
  <mat-icon>add</mat-icon>
</button>
