:host {
  display: block;
  margin: 12px;
}

.float-button {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}

app-card {
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 8px;
  }
}

.search-mobile {
  --search-input-mobile-width: 100%;
}
