h2 {
  text-align: center;
  padding-bottom: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  width: 50%;
  margin-left: auto;
  gap: 6px;

  button {
    flex: 1;
  }
}
