:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

:host(.mobile) {
  flex-direction: column-reverse;
  button {
    display: block;
    width: 50%;
    align-self: center;
  }
}

.planning {
  white-space: pre-wrap;
  word-break: break-word;
}

.session-filters {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
}

mat-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

app-card {
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      line-height: 32px;
      margin: 0;
    }
    .actions {
      display: flex;
      gap: 8px;
    }
  }
}
