<app-card>
  <header>
    <h1>{{ client()?.name }} - #{{ client()?.clientNumber }}</h1>
    @if (canEdit()) {
      <div class="actions">
        <button matMiniFab matTooltip="Editar Cliente" (click)="onClientEdit()">
          <mat-icon>edit</mat-icon>
        </button>
        <button matMiniFab matTooltip="Adicionar Avaliação" (click)="onEvaluationAdd()">
          <mat-icon>summarize</mat-icon>
        </button>
        <button matMiniFab matTooltip="Exportar PDF" (click)="exportReport()">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    }
  </header>
  <span><span>Email:</span> {{ client()?.email }}</span>
  <span><span>Nº de telemóvel:</span> {{ client()?.phoneNumber }}</span>
  <span><span>Data de nascimento:</span> {{ client()?.birthDate | date: 'dd/MM/yyyy' }}</span>
  <span><span>NIF:</span> {{ client()?.nif }}</span>
  <span><span>Morada:</span> {{ client()?.address }}</span>
</app-card>
<mat-tab-group>
  <mat-tab label="Avaliações">
    <ng-template matTabContent>
      <mat-accordion>
        @for (evaluation of evaluations(); track evaluation.id) {
          <app-evaluations-accordion
            [evaluation]="evaluation"
            (refreshEvaluations)="refreshEvaluationsSubject$.next()"
          />
        }
      </mat-accordion>
    </ng-template>
  </mat-tab>
  <mat-tab label="Sessões">
    <ng-template matTabContent>
      <mat-radio-group class="session-filters">
        <mat-radio-button
          [checked]="true"
          [value]="sessionFilters[sessionFilterEnum.Last30Days]"
          (change)="onSessionFilterChanged($event)"
          >{{ sessionFilterEnum.Last30Days }}</mat-radio-button
        >
        <mat-radio-button
          [value]="sessionFilters[sessionFilterEnum.Last60Days]"
          (change)="onSessionFilterChanged($event)"
          >{{ sessionFilterEnum.Last60Days }}</mat-radio-button
        >
        <mat-radio-button
          [value]="sessionFilters[sessionFilterEnum.AllSessions]"
          (change)="onSessionFilterChanged($event)"
          >{{ sessionFilterEnum.AllSessions }}</mat-radio-button
        >
      </mat-radio-group>
      <mat-accordion>
        @for (session of sessions(); track session.id) {
          <app-sessions-accordion [session]="session" />
        }
      </mat-accordion>
    </ng-template>
  </mat-tab>
</mat-tab-group>
