@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;

  @include mat.card-overrides(
    (
      elevated-container-color: #f7f9fd
    )
  );
}

:host(.mobile) {
  flex-direction: column-reverse;
  button {
    display: block;
    width: 50%;
    align-self: center;
  }
}

.client-detail-header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .client {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 16px;

    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;

      h1 {
        margin-bottom: 0;
      }

      mat-icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        color: #ebbe4d;
        transform: translateY(2px);
      }
    }

    .actions {
      display: flex;
      gap: 8px;

      @media (max-width: 600px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      & > button.archive {
        @include mat.fab-overrides(
          (
            small-container-color: #fff,
            small-foreground-color: #9c2007
          )
        );
      }
    }
  }

  mat-accordion {
    width: 100%;
    padding: 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.client-detail-tabs {
  padding: 16px;
}

.planning {
  white-space: pre-wrap;
  word-break: break-word;
}

.session-filters {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
}

.personal-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  align-items: start;

  > div {
    display: flex;
    justify-content: space-between;

    .label {
      display: flex;
      gap: 8px;
      align-items: center;
      @include mat.icon-overrides(
        (
          color: var(--dark-blue)
        )
      );
    }

    .value {
      font-weight: 700;
    }
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 16px;

    > div {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
    }
  }
}

mat-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

app-card {
  span {
    font-size: 16px;
    span {
      font-weight: 700;
    }
  }

  header {
    h1 {
      line-height: 32px;
      margin: 0;
    }
  }
}
