:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

mat-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      font-weight: 700;
      font-size: 24px;
    }
  }
}
