<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Senha atual</mat-label>

    <input matInput formControlName="currentPassword" [type]="currentPasswordConfig.inputType()" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      tabIndex="-1"
      (click)="currentPasswordConfig.toggleVisibility()"
    >
      <mat-icon>{{ currentPasswordConfig.inputIcon() }}</mat-icon>
    </button>

    @if (form.controls.currentPassword.hasError('required')) {
      <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nova senha</mat-label>

    <input matInput formControlName="newPassword" [type]="newPasswordConfig.inputType()" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      tabIndex="-1"
      (click)="newPasswordConfig.toggleVisibility()"
    >
      <mat-icon>{{ newPasswordConfig.inputIcon() }}</mat-icon>
    </button>

    @if (form.controls.newPassword.hasError('required')) {
      <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirmar nova senha</mat-label>

    <input
      matInput
      formControlName="confirmNewPassword"
      [type]="confirmNewPasswordConfig.inputType()"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      tabIndex="-1"
      (click)="confirmNewPasswordConfig.toggleVisibility()"
    >
      <mat-icon>{{ confirmNewPasswordConfig.inputIcon() }}</mat-icon>
    </button>

    @if (form.controls.confirmNewPassword.hasError('required')) {
      <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>

  <button matButton="filled" type="submit" [disabled]="form.invalid">Atualizar senha</button>
</form>
