:host {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background: none;
  border: none;
  padding: 4px 10px;
  gap: 6px;
  color: #222222;
  font-weight: 500;

  &:hover:not(:disabled) {
    background: #f5f5f5;
  }

  &:disabled {
    color: var(--bg-gray);
  }
}

mat-icon {
  width: unset;
  height: unset;
  font-size: 16px;
}
