:host {
  padding: 8px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  mat-slide-toggle {
    margin-bottom: 16px;
  }

  mat-form-field {
    width: 100%;
  }
}
