<div class="clinical-label">Alergias</div>
<div class="clinical-value">
  {{ clinicalHistory()?.allergies ?? '—' }}
</div>

<div class="clinical-label">Contraindicações</div>
<div class="clinical-value">
  {{ clinicalHistory()?.contraindications ?? '—' }}
</div>

<div class="clinical-label">Medicamentos</div>
<div class="clinical-value">
  {{ clinicalHistory()?.medication ?? '—' }}
</div>

<div class="clinical-label">Histórico pessoal</div>
<div class="clinical-value">
  {{ clinicalHistory()?.personalHistory ?? '—' }}
</div>

<div class="clinical-label">Histórico cirúrgico</div>
<div class="clinical-value">
  {{ clinicalHistory()?.surgicalHistory ?? '—' }}
</div>

<div class="clinical-label">Internações</div>
<div class="clinical-value">
  {{ clinicalHistory()?.hospitalizations ?? '—' }}
</div>

<div class="clinical-label">Exames</div>
<div class="clinical-value">
  {{ clinicalHistory()?.exams ?? '—' }}
</div>

<div class="clinical-label">Lesões similares</div>
<div class="clinical-value">
  {{ clinicalHistory()?.similarInjuries ?? '—' }}
</div>

<div class="clinical-label">Fraturas</div>
<div class="clinical-value">
  {{ clinicalHistory()?.fractures ?? '—' }}
</div>

<div class="clinical-label">Acidentes</div>
<div class="clinical-value">
  {{ clinicalHistory()?.accidents ?? '—' }}
</div>

<div class="clinical-label">Processos anteriores</div>
<div class="clinical-value">
  {{ clinicalHistory()?.previousProcess ?? '—' }}
</div>
