.header {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 8px;

  &.inline {
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
