:host {
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  mat-form-field,
  app-searchable-select {
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
