:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  mat-form-field {
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}
