// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './theme-colors' as reaction-theme;

:root {
  --white: #ffffff;
  --off-white: #dceaf3;
  --light-blue: #a4cce3;
  --blue: #4b9bc3;
  --dark-blue: #2c5464;
  --black: #040505;
}

html {
  @include mat.theme(
    (
      color: (
        primary: reaction-theme.$primary-palette,
        tertiary: reaction-theme.$tertiary-palette
      ),
      typography: Roboto,
      density: 0
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
