:host {
  display: block;
  padding: 8px;
}

h1 {
  padding-left: 24px;
}

h2,
h1 {
  text-align: center;
}

.stepper-nav {
  display: flex;
  justify-content: space-between;
}

button:first-of-type {
  float: right;
}
