:host {
  display: block;
  padding: 8px;
}

header {
  display: flex;
  align-items: center;
  padding-left: 12px;

  h1 {
    margin: 0;
    flex: 1;
    text-align: center;
  }

  button {
    font-size: 16px;
  }
}

h2 {
  text-align: center;
}

.stepper-nav {
  display: flex;
  justify-content: space-between;
}

button:first-of-type {
  float: right;
}

.step-label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}
