:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }
}
