:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.test-grid {
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 8px 16px;
  align-items: start;

  span {
    font-weight: 700;
    padding-right: 8px;
    white-space: nowrap;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
