.section-title {
  display: flex;
  gap: 24px;
  width: 100%;

  .compact-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40%;
  }
}

.pending-session {
  cursor: no-drop;
}

.session-report {
  white-space: pre-wrap;
  word-break: break-word;
}
