name: Auto Assign Reviewer

on:
  pull_request:
    types: [opened, ready_for_review]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign-reviewer:
    runs-on: ubuntu-latest
    steps:
      - name: Assign reviewer
        run: |
          gh api repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/requested_reviewers \
            --method POST \
            --field reviewers=["BrunoMendes27"]
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
